.navLink {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
   position: relative;
   transition: color 0.3s ease-in-out;
}

.navLink:hover {
   color: var(--color-primary-600);
}

.navLink::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: -5px;
   left: 0;
   background-color: var(--color-primary-600);
   transform: scaleX(0);
   transform-origin: bottom left;
   transition: transform 0.15s ease-out;
}

.navLink:hover::after {
   transform: scaleX(1);
}
